# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# Project specific temporary files and local state
_sandbox/
state.db

# IDE / OS
.vscode/
.idea/
.DS_Store